h3{
	margin: 0;
	padding: 0;
}

h3{
	margin: 5px 0px;
}

label, input{
	display: block;
}

label{
	width: 100px;
	background-color: #ccc;
}

#boy, #girl{
	width: 50px;
	text-align: right;
}

#male, #female{
	display: block;
	float: left;
}